{% macro render_sidebar_links(links) %}
{% if links %}
<ol>
{% for item in links %}
    {% if item is not iterable and item is not string and item is not mapping %}
    <li>
        <a href="{{ item.href }}" onclick="close_sidebar()">{{ item.name }}</a>
        {% set next = loop.nextitem %}
        {% if next is defined and next is iterable and next is not string and next is not mapping %}
            {{ render_sidebar_links(next) }}
        {% endif %}
    </li>
    {% endif %}
{% endfor %}
</ol>
{% endif %}
{% endmacro %}
