{% extends "base.html" %}

{% block title %}{{ tr("Search") }} | {{ cfg.blog.global_title }}{% endblock %}
{% block og_title %}{{ tr("Search") }} | {{ cfg.blog.global_title }}{% endblock %}

{% block content %}
<h1>{{ tr("Search") }}</h1>

<div id="search-container" class="no-js" data-index-url="{{ ctx.search_index_json_path | as_rel }}">
    <p class="no-js-msg">
        {{ tr("no-js-msg") }}
    </p>

    <input
        type="search"
        id="search-input"
        placeholder="{{ tr("Search articles...") }}"
        autocomplete="off"
        autofocus
    >
    <div id="number-results-found"></div>
    <div id="search-results"></div>
</div>
{% endblock %}
