/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family:
        "Noto Sans",
        "Droid Sans",
        "DejaVu Sans",
        "Liberation Sans",
        Roboto,
        Cantarell,
        "Segoe UI",
        Arial,
        Meiryo,
        Oxygen,
        Ubuntu,
        "Helvetica Neue",
        Helvetica,
        "Noto Color Emoji",
        sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

img {
    max-width: 100%;
}

/* Links */

a,
a:visited {
    text-decoration: none;
    transition: color 0.2s;
    color: #292a73;
}

a:hover,
a:active {
    color: #0074D9;
}

/* Top div */

.top {
    background-color: #51628f;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/bg.webp");
    text-shadow: #000c 1px 1px 2px;
    background-attachment: fixed;
    position: relative;
}

/* Header */

header {
    font-family:
        "Noto Serif",
        "DejaVu Serif",
        "Liberation Serif",
        "Times New Roman",
        Georgia,
        Times,
        serif;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

header>a.logo {
    height: 52px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 6px;
}

header>a.logo:hover,
header>a.logo:active {
    color: #ddd;
}

header>a.logo>h1 {
    text-transform: uppercase;
    font-size: 20px;
}

header>a.logo>img {
    height: 100%;
    padding: 2px;
}

header>span.space {
    flex: 2 1;
}

header>a.donate {
    width: 52px;
    height: 52px;
    background: url("img/heart.svg");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header images transition on hover */

header>a.logo>img,
header>a.donate {
    filter: invert(100%) drop-shadow(1px 1px 2px #000c);
    transition: filter 0.2s;
}

header>a.logo:hover>img,
header>a.donate:hover {
    filter: invert(90%) drop-shadow(1px 1px 2px #000c);
}

/* Presentation */

div.presentation {
    position: relative;
    margin: 0 4px;
    padding: 90px 0px;
    background-image: url("img/motivated_learner.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

div.presentation>p {
    margin: 20px 0;
    max-width: 550px;
}

/* Get started and Community buttons */

div.start_buttons {
    display: flex;
    flex-flow: row nowrap;
}

div.start_buttons>a,
div.start_buttons>a:visited {
    white-space: nowrap;
    display: inline-block;
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.2s;
}

div.start_buttons>a:hover,
div.start_buttons>a:active {
    background-color: #fff2;
}

div.start_buttons>a:first-child {
    color: black;
    background-color: white;
    margin-right: 10px;
    text-shadow: none;
}

/* Navigation */

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}

nav>a,
nav>a:visited {
    white-space: nowrap;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav>a:hover,
nav>a:active {
    color: #ddd;
}

/* Rows */

div.row {
    max-width: 1350px;
    padding: 40px 4px;
    margin: 0 auto;
    min-height: 300px;
    position: relative;
}

div.tile.anki div.row {
    background-color: #fef6ec;
    box-shadow: 1px 1px 2px rgba(92, 92, 0, 0.164);
}

div.tile.guide div.row {
    color: #3c2a4d;
    background-color: #e7eff6;
    box-shadow: 0 0 2px rgba(0, 0, 61, 0.219);
}

/* Key points */

div.key_points {
    display: grid;
    justify-content: stretch;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    grid-auto-columns: 1fr;
    column-gap: 40px;
    row-gap: 1rem;
    align-items: start;
}

/* Point icons */

div.key_points .icon {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 5px;
    height: 1em;
}

div.key_points .beer {
    content: url("img/beer.svg");
}

div.key_points .goat {
    content: url("img/goat.svg");
}

div.key_points .anki {
    content: url("img/anki.webp");
}

div.key_points .bomb {
    content: url("img/bomb.svg");
}

/* Tiles */

div.tile+div.tile {
    margin: 40px 0 0;
}

/* Tile container */

div.tile-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    gap: 20px;
    grid-template-areas:
        "text"
        "image";
}

div.tile-container>div {
    grid-area: text;
}

div.tile-container>img {
    grid-area: image;
    height: 100%;
    width: 100%;
    object-fit: contain;
    place-self: center;
    max-height: 200px;
}

div.tile-container h2,
div.tile-container p:not(:last-child) {
    margin-bottom: 1rem;
}

/* Footer */

footer {
    color: white;
    text-align: center;
    padding: 40px 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 2rem;
    display: inline-block;
}

/* Wide screens */

@media only screen and (min-width: 750px) {
    nav {
        justify-content: flex-start;
    }

    nav>a:not(:last-child) {
        margin-right: 30px;
    }

    div.presentation {
        max-width: 900px;
        margin: 0 0 0 15vw;
    }

    div.key_points {
        grid-template-rows: repeat(4, auto);
    }

    div.tile-container {
        grid-auto-flow: column;
        grid-template-areas: "text image";
    }

    div.tile-container.mirror {
        grid-template-areas: "image text";
    }

    div.row {
        padding: 40px 20px;
    }

    /* CSS bookmark */

    div.tile div.row::before {
        content: "";
        position: absolute;
        display: block;
        border-radius: 4px;
        width: 180px;
        height: 60px;
        z-index: -1;
    }

    div.tile.anki div.row::before {
        background-color: rgba(224, 223, 216, 0.596);
        top: -16px;
        left: 32px;
    }

    div.tile.guide div.row::before {
        background-color: rgba(216, 221, 224, 0.61);
        top: -16px;
        right: 32px;
    }
}

@media only screen and (min-width: 1350px) {
    div.key_points {
        grid-template-rows: repeat(2, auto);
    }

    div.row {
        border-radius: 4px;
    }
}
