@charset "utf-8";

/* global */

:root {
    --header-height: 52px;
    --menu-icon-slice-width: 18px;
    --menu-icon-slice-height: 2px;
    --link: #0366d6;
    --link-visited: #336699;
    --link-black: #1f2628;
    --gap-large: 32px;
    --gap-small: 24px;
    --nav-border-color: #ebebeb;
    --header-background: #f9f9f9;
    --header-item-focused-background: #eee;
    --sidebar-background: #111;
    --background-secondary-color: #dee2e6;
    --code-bg-color: #f6f8fa;
    --elem-shadow-color: rgba(0, 0, 0, .05);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block;
}

/* Body with sticky footer */

html,
body {
    min-height: 100vh;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family:
        "Noto Sans",
        "Droid Sans",
        "DejaVu Sans",
        "Liberation Sans",
        Roboto,
        Cantarell,
        "Segoe UI",
        Arial,
        Meiryo,
        Oxygen,
        Ubuntu,
        "Helvetica Neue",
        Helvetica,
        "Noto Color Emoji",
        "Noto Sans CJK JP",
        sans-serif;
    background-color: #f3f3f3;
    color: #24292e;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

body>div#divbodyholder {
    flex: 1 0 auto;
}

body>header,
body>footer {
    flex-shrink: 0;
}

/* Links general */

a,
a:visited {
    text-decoration: none;
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:is(:hover, :active, :focus) {
    text-decoration: underline;
}

a.ablack {
    color: var(--link-black);
}

/* Hide checkbox */

input#menu-btn {
    display: none;
}

/* Header */

header {
    font-family:
        "Noto Serif",
        "DejaVu Serif",
        "Liberation Serif",
        "Times New Roman",
        Georgia,
        Times,
        "Noto Serif CJK JP",
        serif;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow:
        0 5px 0 var(--background-secondary-color),
        0 6px 4px 0 var(--elem-shadow-color);
    ;
    min-width: 256px;
    min-height: var(--header-height);
    background-color: var(--header-background);
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 16px;
}

/* logo; icon and title */

header a.logo,
header a.logo:visited {
    height: var(--header-height);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    transition: opacity 0.2s;
    gap: 6px;
}

header a.logo>span {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-right: 8px;
}

header a.logo:is(:hover, :active, :focus) {
    opacity: 0.75;
    background-color: var(--header-background);
}

header a.logo>img {
    height: 100%;
    padding: 2px;
}

/* Hidden elements. Description is visible only on wide screens. */

header #description,
header nav {
    display: none;
}

/* Navigation */

header>nav {
    clear: both;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: var(--header-height);
    flex: 2 1 200px;
    overflow-x: hidden;
}

header>nav a,
header>nav a:visited {
    height: var(--header-height);
    white-space: nowrap;
    padding: 0 2px;
}

header>nav a.important {
    background-color: var(--sidebar-background);
    color: #f2f2f2;
    border: none;
}

header>nav a.important:is(:hover, :active, :focus) {
    color: #f1f1f1;
    background-color: #3f3f3f;
}

/* Header on wide screens */

@media screen and (min-width: 760px) {
    header>nav {
        display: flex;
    }

    header>nav a {
        flex: 2 1 20px;
    }
}

@media screen and (min-width: 1000px) {
    header>nav a:nth-last-of-type(2) {
        margin-left: auto;
    }

    header>nav a {
        flex: 0 1 20px;
        padding: 0 16px;
    }
}

/* Common rules for buttons and anchors */

header a,
header a:visited,
header button,
header label {
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--header-background);
    transition: background-color 0.1s ease-in-out;
    line-height: var(--header-height);
    user-select: none;
}

header button:hover,
header button[open],
header :is(label, a):is(:hover, :active, :focus) {
    color: black;
    text-decoration: none;
    background-color: var(--header-item-focused-background);
}

/* body */

#divbodyholder {
    word-wrap: break-word;
    margin: var(--gap-large) 0 var(--gap-large);
}

#divbodyholder>div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: clamp(1.5rem, 3vw, 2rem);
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 1px 4px 0 var(--elem-shadow-color);
}

/* container for articles */

#divbodyholder>#divbody {
    padding-top: 0;
}

/* index page nag bar */

#divbodyholder>.indexnagbar {
    color: #453128;
    background-color: #fbf6e3;
    border: 1px solid #e2c491;
    margin-bottom: var(--gap-large);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

.indexnagbar a,
.indexnagbar a:visited {
    color: #a85c43;
}

.indexnagbar a:is(:hover, :active, :focus) {
    color: #ab2f17;
}

.indexnagbar svg.nagbar_icon {
    display: block;
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    fill: #453128;
}

@media screen and (max-width: 500px) {
    #divbodyholder>.indexnagbar {
        flex-flow: column nowrap;
    }
}

/* main */

main *+* {
    margin-block: 1rem 0;
}

main li> :is(ol, ul):first-of-type,
main a,
main article {
    margin-block: 0;
}

main ol,
main ul {
    padding-left: 2em;
}

main li+li {
    margin-top: 0.25em;
}

main img.shadow {
    box-shadow: 2px 2px 3px #999;
}

article>h1:first-child {
    margin-block-end: 0px;
}

article a.anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

details {
    border-radius: 0.5rem;
}

summary {
    color: #1f56aa;
    cursor: pointer;
}

summary+* {
    margin-top: 0.5rem;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

blockquote a {
    filter: saturate(33%);
}

main ::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}

main p {
    line-height: 1.5;
}

code,
kbd,
pre {
    font-family:
        "Noto Sans Mono",
        "Liberation Mono",
        "DejaVu Sans Mono",
        "Courier New",
        "Lucida Console",
        Courier,
        Consolas,
        "Noto Sans Mono CJK JP",
        monospace;
}

code {
    font-size: 85%;
    padding: 0.2em 0.4em;
    background-color: #f3f3f3;
    border-radius: 4px;
}

pre {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    background-color: var(--code-bg-color);
    border-radius: 6px;
    padding: 1rem;
    line-height: 1.45;
}

pre img {
    margin: 12px 0px;
}

pre iframe {
    margin: 12px 0px;
}

pre code {
    padding: 0;
    background-color: initial;
}

kbd {
    display: inline-block;
    margin: 0 1px 2px;
    padding: 3px 4px;
    font-size: 11px;
    line-height: normal;
    line-height: 10px;
    color: #24292f;
    vertical-align: middle;
    background-color: var(--code-bg-color);
    border: 1px solid rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

#all_posts {
    margin-top: var(--gap-small);
    text-align: center;
}

article {
    display: flow-root;
}

article a {
    transition: filter 0.2s, color 0.2s;
}

article a:is(:hover, :active, :focus) {
    filter: hue-rotate(-20deg) brightness(120%);
}

article a.ablack:is(:hover, :active, :focus) {
    color: DarkSlateBlue;
    filter: hue-rotate(-30deg) brightness(90%);
}

/* Article headers */

main :is(h1, h2, h3, h4, h5, h6) {
    margin-block: 1.5rem 1rem;
    line-height: 1.25;
    clear: both;
}

main :is(h1, h2, h3, h4, h5, h6)>a:is(:hover, :active, :focus) {
    text-decoration: none;
}

main h1 {
    font-size: 1.7rem;
}

main h2 {
    font-size: 1.5rem;
}

main h3 {
    font-size: 1.25rem;
}

main h4 {
    font-size: 1.125rem;
}

article a.anchor>svg {
    vertical-align: middle;
    visibility: hidden;
    display: inline-block;
}

article :is(h1, h2, h3, h4, h5, h6):is(:hover, :active, :focus) .anchor>svg {
    visibility: visible;
}

article .subtitle {
    font-size: small;
    margin: 3px 0 1rem;
}

/* Highlight targets */

main [id] {
    --target-color: cornflowerblue;
    --target-shift: calc(10px + var(--header-height));

    position: relative;
    scroll-margin-top: var(--target-shift);
    scroll-snap-align: start;
}

main [id]::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: min(33%, 250px);
    background-image: linear-gradient(to right, var(--target-color), var(--target-color) 33%, transparent);
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s ease-out;
}

main [id]:target::after {
    clip-path: inset(0);
}

/* Download button */

a.download_button {
    display: inline-block;
    font-size: 25px;
    line-height: 49px;
    min-width: 220px;
    padding: 0 5px;
    border: 1px solid #0366d6;
    border-radius: 2px;
    transition: all 0.3s;
}

a.download_button:is(:hover, :active, :focus) {
    background-color: #0366d60d;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(83, 100, 255, 0.45);
    filter: none;
}

/* Cut line */

article hr {
    border: 0;
    border-top: 2px solid lightgrey;
}

/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article table {
    display: block;
    max-width: 100%;
    overflow: auto;
    overscroll-behavior-inline: contain;
    width: max-content;
}

article table td,
article table th {
    border: 1px solid #e0e3e6;
    padding: 6px 13px;
}

article table td:first-child {
    white-space: nowrap;
}

article table tr:nth-child(2n) {
    background-color: var(--code-bg-color);
}

/* Menu button */

.menu-btn {
    padding: calc((var(--header-height) - var(--menu-icon-slice-height)) / 2) calc((var(--header-height) - var(--menu-icon-slice-width)) / 2);
    user-select: none;
    display: block;
}

.menu-btn>.menu-icon {
    background-color: #333;
    display: block;
    width: var(--menu-icon-slice-width);
    height: var(--menu-icon-slice-height);
    position: relative;
    font-size: 0px;
}

.menu-btn>.menu-icon::before,
.menu-btn>.menu-icon::after {
    content: "";
    display: block;
    background-color: #333;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Hamburger */

.menu-btn>.hamburger,
.menu-btn>.hamburger::before,
.menu-btn>.hamburger::after {
    transition: all 0.2s ease-out;
}

.menu-btn>.hamburger::before {
    top: 5px;
}

.menu-btn>.hamburger::after {
    top: -5px;
}

/* Hamburger checked */

input#menu-btn:checked~header label.menu-btn {
    background-color: var(--header-item-focused-background);
}

input#menu-btn:checked~header .hamburger {
    background-color: transparent;
}

input#menu-btn:checked~header .hamburger::before {
    rotate: -45deg;
    top: 0;
}

input#menu-btn:checked~header .hamburger::after {
    rotate: 45deg;
    top: 0;
}

/* Sidebar: Jump to top button */

.menu-btn>.up-arrow {
    rotate: 90deg;
}

.menu-btn>.up-arrow::before,
.menu-btn>.up-arrow::after {
    width: 58%;
    left: -2px;
}

.menu-btn>.up-arrow::before {
    rotate: 45deg;
    top: 3px;
}

.menu-btn>.up-arrow::after {
    rotate: -45deg;
    top: -3px;
}

/* Sidebar: Close button */

.menu-btn>.close-btn {
    background-color: transparent;
}

.menu-btn>.close-btn::before,
.menu-btn>.close-btn::after {
    top: 0;
}

.menu-btn>.close-btn::before {
    rotate: -45deg;
}

.menu-btn>.close-btn::after {
    rotate: 45deg;
}

/* Sidebar */

#sidebar {
    --sidebar-width: min(100vw, 400px);
    --main-shadow: 0 0 1rem rgb(0 0 0 / .33);
    --overlay-shadow-off: 0 0 0 200vmax transparent;
    --overlay-shadow-on: 0 0 0 200vmax rgb(0 0 0 / .25);

    width: var(--sidebar-width);
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-block: contain;
    font-size: 1rem;
    z-index: 150;
    background-color: var(--sidebar-background);
    color: gray;
    position: fixed;
    inset: 0 calc(-1 * var(--sidebar-width)) 0 auto;
    visibility: hidden;
    transition: right 0.2s, visibility 0.2s, box-shadow 0.33s;
    box-shadow: var(--main-shadow), var(--overlay-shadow-off);
}

/* Opened sidebar */

input#menu-btn:checked~#sidebar {
    right: 0px;
    visibility: visible;
    box-shadow: var(--main-shadow), var(--overlay-shadow-on);
}

/* Inside sidebar */

#sidebar ul,
#sidebar ol {
    list-style-position: inside;
    padding-left: 1em;
}

#sidebar>.page-contents>ul,
#sidebar>.page-contents>ol {
    clear: both;
    margin: 8px;
    padding-left: 0;
}

#sidebar>.page-contents ::marker {
    color: #7fdbffaa;
}

#sidebar ul:only-child,
#sidebar ol:only-child {
    padding-left: 0;
}

#sidebar li+li {
    padding-top: 0.25em;
}

#sidebar a,
#sidebar a:visited {
    display: inline;
    color: #ccc;
    text-decoration: none;
    user-select: none;
}

#sidebar a:is(:hover, :active, :focus) {
    color: #f1f1f1;
}

#sidebar>hr {
    border: 0px;
    border-top: 1px solid white;
    opacity: 0.25;
    margin: 10px 20px;
}

#sidebar>:is(div:empty, div:empty+hr) {
    visibility: hidden;
    display: none;
}

/* Sidebar: Top links */

#sidebar .sidebar_header {
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--sidebar-background);
    font-size: 18px;
}

#sidebar .sidebar_header>:is(a, label),
#sidebar .sidebar_header>:is(a, label):visited {
    user-select: none;
    min-width: var(--header-height);
    line-height: var(--header-height);
    height: var(--header-height);
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition:
        background-color 0.1s,
        color 0.1s;
}

#sidebar .sidebar_header>:is(a, label):is(:hover, :active, :focus) {
    background-color: #3f3f3f;
}

#sidebar .sidebar_header>a:first-child {
    flex: 2 1 auto;
}

/* Sidebar: Buttons */

#sidebar .menu-btn>.menu-icon:not(.close-btn),
#sidebar .menu-btn>.menu-icon::before,
#sidebar .menu-btn>.menu-icon::after {
    background-color: #ccc;
    transition: background-color 0.1s;
}

#sidebar .menu-btn:is(:hover, :active, :focus)>.menu-icon:not(.close-btn),
#sidebar .menu-btn:is(:hover, :active, :focus)>.menu-icon::before,
#sidebar .menu-btn:is(:hover, :active, :focus)>.menu-icon::after {
    background-color: #f1f1f1;
}

/* Sidebar: important links */

#sidebar .important-links {
    margin: 10px 20px;
    gap: 10px;
    columns: 2;
}

#sidebar .important-links a {
    display: block;
    padding: 6px;
    text-align: left;
    column-gap: 10px;
    transition:
        background-color 0.1s,
        color 0.1s;
}

#sidebar .important-links a:last-child:nth-child(odd) {
    column-span: all;
}

#sidebar .important-links a:is(:hover, :active, :focus) {
    background-color: #3f3f3f;
}

/* Tooltips */

article :is(span, abbr)[title] {
    cursor: help;
    text-decoration: underline dotted;
}

article :is(span, abbr)[title]:is(:hover, :active, :focus) {
    text-decoration: none;
    color: rgb(159, 20, 26);
}

/*
   Inline images
   The Yomichan guide utilizes inline images.
*/

article img {
    display: inline-block;
    margin: 0;
}

/* Link buttons */

a.md-button,
a.md-button:visited {
    min-width: 225px;
    max-width: 100%;
    height: 50px;
    color: white;
    background-color: #0b5570;
    font-weight: 700;
    border-radius: 2.2px;
    text-decoration: none;
    line-height: 1.6;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 5px;
    flex-flow: row nowrap;
    transition: background-color 125ms;
    padding: 0 1.8em;
    font-size: 1rem;
    text-shadow: none;
}

a.md-button:is(:hover, :active, :focus) {
    text-decoration: none;
    background-color: #00bad6;
    color: white;
    filter: none;
}

a.md-button::before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    background-size: 1.4em;
    background-position: center;
    background-repeat: no-repeat;
}

/* Chats */

a.md-button.element {
    background-color: #0dbd8b;
}

a.md-button.element:is(:hover, :active, :focus) {
    background-color: #099970;
}

a.md-button.element::before {
    background-image: url("https://wikiless.org/media/wikipedia/commons/c/cb/Element_%28software%29_logo.svg");
    filter: grayscale(100%) brightness(2);
}

a.md-button.telegram::before {
    background-image: url("https://telegram.org/img/t_logo.svg");
}

/* LibrePay */

a.md-button.lp {
    background-color: #ffee16;
    color: #1a171b;
}

a.md-button.lp:is(:hover, :active, :focus) {
    background-color: #fff463;
    color: #333;
}

a.md-button.lp::before {
    background-image: url("https://liberapay.com/assets/liberapay/icon-v2_white-on-yellow.svg");
}

/* Patreon */

a.md-button.patreon {
    text-transform: uppercase;
    background-color: #f96854;
}

a.md-button.patreon:is(:hover, :active, :focus) {
    background-color: #ff424d;
}

a.md-button.patreon::before {
    background-image: url("/blog/img/patreon_logo.webp");
}

/* Donations */

a.md-button.donations {
    min-width: 100px;
    width: 100%;
    text-transform: uppercase;
    background-color: #f96854;
    background-color: #5e5e5e;
    border-bottom: 1px solid #2626261b;
    border-right: 1px solid #2626261b;
    box-shadow: inset 1px 1px 0 #777, 0 2px 3px rgba(0, 0, 0, .4);
}

a.md-button.donations:is(:hover, :active, :focus) {
    background-color: #ff424d;
    background-color: #757575;
}

a.md-button.donations::before {
    background-image: url("/img/heart.svg");
    filter: grayscale(100%) invert(100%);
}

/* ToC navigation */

#divbodyholder>#divbody {
    position: relative;
}

.toc_navigation {
    position: absolute;
    z-index: 50;
    bottom: -1rem;
    right: 0px;
    padding-right: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 10px;
}

.toc_navigation>a {
    min-width: 50px;
    height: 31px;
    padding: 0 1.4em;
}

.toc_navigation>a::before {
    background-image: url("/blog/img/up-arrow.svg");
    filter: invert(1);
    width: 1em;
    height: 1em;
    background-size: 1em;
}

.toc_navigation>a.next::before {
    rotate: 90deg;
}

.toc_navigation>a.prev::before {
    rotate: -90deg;
}

/* copy/select button for code blocks */

article div.pre-wrap {
    /* Wraps all pre tags. */
    position: relative;
}

article pre>.select_button {
    position: absolute;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    margin: 0;
    right: 6px;
    top: 6px;
    text-transform: capitalize;
    background-color: var(--code-bg-color);
    border: 1px solid #1b1f2426;
    border-radius: 6px;
    transition:
        background-color cubic-bezier(0.33, 1, 0.68, 1) 80ms,
        opacity ease-in 0.15s,
        visibility ease-in 0.15s;
    color: #57606a;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

article pre>.select_button::before {
    content: "";
    background-image: url("/blog/img/copy-to-clip.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: -4px;
    cursor: pointer;
    filter: invert(34%) sepia(19%) saturate(307%) hue-rotate(171deg) brightness(99%) contrast(87%);
}

article pre>.select_button:is(:hover, :active, :focus) {
    background-color: #f3f4f6;
}

article pre>.select_button:active {
    background-color: #ebecf0;
}

article pre:is(:hover, :active, :focus)>.select_button {
    visibility: visible;
    opacity: 1;
}

/* Status tooltip for copy/select button */

article pre>.select_button::after {
    display: block;
    content: "";
    line-height: 18px;
    min-width: 90px;
    background-color: #000000b2;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0px;
    position: absolute;
    z-index: 150;
    top: 0px;
    right: calc(100% + 6px);
    opacity: 0;
    visibility: hidden;
}

article pre:is(:hover, :active, :focus)>.select_button[status]::after {
    visibility: visible;
    opacity: 1;
}

.select_button[status=copied]::after {
    content: "Copied.";
}

.select_button[status=selected]::after {
    content: "Selected.";
}

/* Footer */

footer {
    font-size: 1rem;
    border-top: solid 1px #ccc;
    background-color: #51628f;
    background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.66)), url("/img/bg.webp");
    color: white;
    text-shadow: #0006 1px 1px 2px;
}

footer p {
    line-height: 1.5;
}

footer a,
footer a:visited {
    color: #e9e2dc;
}

footer a:is(:hover, :active, :focus) {
    color: #fff8ee;
}

footer>.footer-linkbox {
    display: grid;
    max-width: 1350px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    gap: 1rem;
    align-content: start;
    justify-content: space-around;
    text-align: left;
    padding: 15px 10px;
}

footer>.footer-linkbox div {
    padding: 5px;
}

footer>.footer-linkbox h3 {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

footer>.footer-linkbox p {
    margin-bottom: 1rem;
}

footer>.footer-linkbox p:last-child {
    margin-bottom: 0;
}

footer>.footer-linkbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer>.footer-linkbox ul li a {
    line-height: 28px;
    display: inline-block;
}

footer>.footer-bottom {
    background-color: #0004;
    font-size: 14px;
    text-align: center;
    padding: 10px 4px;
    border-top: 1px solid #ffffff1e;
}

/* Mega links */

a.mega_link {
    display: inline-block;
    width: 1em;
    aspect-ratio: 1 / 1;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' height='361.39999' viewBox='0 0 361.39998 361.39998' width='361.39999'%3E%3Cpath fill='%23d9272e' d='M180.7 0C80.9 0 0 80.9 0 180.7c0 99.8 80.9 180.7 180.7 180.7 99.8 0 180.7-80.9 180.7-180.7C361.4 80.9 280.5 0 180.7 0Zm93.8 244.6c0 3.1-2.5 5.6-5.6 5.6h-23.6c-3.1 0-5.6-2.5-5.6-5.6v-72.7c0-.6-.7-.9-1.2-.5l-50 50c-4.3 4.3-11.4 4.3-15.7 0l-50-50c-.4-.4-1.2-.1-1.2.5v72.7c0 3.1-2.5 5.6-5.6 5.6H92.4c-3.1 0-5.6-2.5-5.6-5.6V116.8c0-3.1 2.5-5.6 5.6-5.6h16.2c2.9 0 5.8 1.2 7.9 3.3l62.2 62.2c1.1 1.1 2.8 1.1 3.9 0l62.2-62.2c2.1-2.1 4.9-3.3 7.9-3.3h16.2c3.1 0 5.6 2.5 5.6 5.6v127.8z'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    top: -0.125em;
    margin-inline-start: 0.5ch;
    user-select: none;
    cursor: pointer;
}

/* Floating images in articles */

article img.img_float_right,
article img[float] {
    float: right;
    max-height: 200px;
    max-width: 33.3%;
    margin-left: 5px;
}

article img[float=left] {
    float: left;
}
