/* global */

:root {
    --header-height: 52px;
    --n-menu-items: 4;
    --hamburger-slice-width: 18px;
    --hamburger-slice-height: 2px;
    --link: #0366d6;
    --link-visited: #336699;
    --link-black: #1f2628;
    --gap-large: 32px;
    --gap-small: 24px;
    --target_shift: calc(10px + var(--header-height));
    --nav-border-color: #ebebeb;
    --header-background: #f9f9f9;
    --header-item-focused-background: #eee;
    --sidebar-background: #111;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans", Helvetica, Arial, Sans-Serif;
    background-color: #f3f3f3;
    color: #24292e;
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* Links general */

a {
    text-decoration: none;
    color: var(--link);
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: var(--link-visited);
}
a.ablack {
    color: var(--link-black);
}

/* header */

.headerholder {
    background-color: #ddd;
    padding-bottom: 5px;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
}
header {
    font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
    width: 100%;
    min-width: 256px;
    min-height: var(--header-height);
    background-color: var(--header-background);
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) max-content;
    grid-template-rows: auto;
    grid-template-areas:
        "logo menu-btn"
        "nav nav";
}

/* Header grid areas */

header > .logoholder {
    grid-area: logo;
}
header > label.menu {
    grid-area: menu-btn;
}
header > #description {
    grid-area: description;
}
header > nav {
    grid-area: nav;
}

/* logo; icon and title */

header .logoholder {
    display: flex;
    flex-flow: row nowrap;
    height: var(--header-height);
    align-items: center;
    justify-content: space-between;
}

header a.logo {
    height: var(--header-height);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    transition: opacity 0.2s;
}
header a.logo > h1 {
    font-size: 20px;
    color: black;
    text-align: center;
    transition: letter-spacing 0.3s;
    padding: 0 8px 0;
}
header a.logo:hover {
    opacity: 0.75;
    background-color: var(--header-background);
}
header a.logo:hover > h1 {
    letter-spacing: 0px;
}
header a.logo > img {
    height: 48px;
    margin-left: 2px;
}

/* Show sidebar button */

header #show_sidebar_button {
    display: flex;
    border: none;
    height: var(--header-height);
    width: var(--header-height);
    border-left: 1px solid var(--nav-border-color);
}

header #show_sidebar_button > svg {
    width: 18px;
    margin: auto;
    fill: #333;
    transition: fill 0.1s;
}

header #show_sidebar_button:hover svg,
header #show_sidebar_button[open] svg {
    fill: black;
}

/* Hidden elements. Checkbox is not needed, description is visible only on wide screens. */

header #description,
header input.menu {
    display: none;
}

/* Navigation */

header > nav {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 0px;
    overflow-x: hidden;
    transition: max-height 0.2s ease-out;
}
header > nav a,
header > nav a:visited {
    height: var(--header-height);
    white-space: nowrap;
    padding: 0 12px;
    border-top: 1px solid var(--nav-border-color);
}

header > nav a.important {
    background-color: var(--sidebar-background);
    color: #f2f2f2;
    border: none;
}

header > nav a.important:hover {
    color: #f1f1f1;
    background-color: #3f3f3f;
}

/* menu button with a hamburger icon */

header label.menu {
    padding: calc((var(--header-height) - var(--hamburger-slice-height)) / 2)
        calc((var(--header-height) - var(--hamburger-slice-width)) / 2);
    user-select: none;
    border-left: 1px solid var(--nav-border-color);
}

/* Hamburger */

header label.menu > .hamburger {
    background: #333;
    display: block;
    width: var(--hamburger-slice-width);
    height: var(--hamburger-slice-height);
    position: relative;
    transition: background 0.2s ease-out;
}
header label.menu > .hamburger:before,
header label.menu > .hamburger:after {
    display: block;
    background: #333;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
}
header label.menu > .hamburger:before {
    top: 5px;
}
header label.menu > .hamburger:after {
    top: -5px;
}

/* when the hamburger is clicked, show the navigation items and change the hamburger icon */

header input.menu:checked ~ nav {
    max-height: calc(var(--header-height) * var(--n-menu-items));
}
header input.menu:checked ~ label.menu {
    background-color: var(--header-item-focused-background);
}
header input.menu:checked ~ label.menu > .hamburger {
    background: transparent;
}
header input.menu:checked ~ label.menu > .hamburger:before {
    transform: rotate(-45deg);
    top: 0;
}
header input.menu:checked ~ label.menu > .hamburger:after {
    transform: rotate(45deg);
    top: 0;
}

/* Common rules for buttons and anchors */

header button,
header a,
header a:visited,
header label {
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--header-background);
    transition: background-color 0.1s;
    line-height: var(--header-height);
}

header button:hover,
header button[open],
header a:hover,
header a:active,
header label:hover {
    color: black;
    text-decoration: none;
    background-color: var(--header-item-focused-background);
}

/* Header on wide screens */

@media screen and (min-width: 600px) {
    header {
        grid-template-columns: 1fr max-content;
        grid-template-areas: "logo nav";
    }
    header label.menu {
        display: none;
    }
    header > nav {
        max-height: none;
        flex-direction: row;
        overflow: visible;
    }
    header > nav > a {
        border-left: 1px solid var(--nav-border-color);
        border-top: none;
    }
}

@media screen and (min-width: 750px) {
    header > .logoholder {
        justify-content: flex-start;
    }
    header #show_sidebar_button {
        border-right: 1px solid var(--nav-border-color);
    }
}

@media screen and (min-width: 1180px) {
    header {
        grid-template-columns: 1fr max-content 1fr;
        grid-template-areas: "logo description nav";
    }
    header > #description {
        display: block;
        place-self: center;
        max-width: 500px;
    }
}

/* body */

#divbodyholder {
    word-wrap: break-word;
    margin: var(--gap-large) 0 var(--gap-large);
}
#divbodyholder > #divbody {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0px var(--gap-small) var(--gap-small);
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

@media screen and (min-width: 600px) {
    #divbodyholder > #divbody {
        padding: 0px var(--gap-large) var(--gap-large);
    }
}

main {
    margin-bottom: 5%;
}
main p,
main ol,
main ul,
main pre,
main details,
main hr,
main table {
    margin-bottom: 16px;
}

details {
    border-radius: 8px;
}

summary {
    color: #1f56aa;
    cursor: pointer;
}
summary + * {
    margin-top: 8px;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

main ul ul {
    margin: 0px;
}
main p {
    line-height: 1.5;
}
main :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--gap-small);
    margin-bottom: 16px;
    line-height: 1.25;
}
main :is(h1, h2, h3, h4, h5, h6) > a:hover {
    text-decoration: none;
}

main h1 {
    font-size: 2em;
}
main h2 {
    font-size: 1.5em;
}
main h3 {
    font-size: 1.25em;
}
main h4 {
    font-size: 1em;
}

article > h1:first-child {
    margin-bottom: 0px;
}
article ul,
article ol {
    padding-left: 2em;
}
article li + li {
    margin-top: 0.25em;
}
article p > img.shadow {
    box-shadow: 2px 2px 3px #999;
}

article .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}
article .anchor > svg {
    vertical-align: middle;
    visibility: hidden;
}
article :is(h1, h2, h3, h4, h5, h6):hover .anchor > svg {
    visibility: visible;
}

.subtitle {
    font-size: small;
    margin-bottom: 16px;
}

code {
    font-size: 85%;
    padding: 0.2em 0.4em;
    background-color: #f3f3f3;
    border-radius: 4px;
}

pre {
    overflow: auto;
    background-color: #f6f8fa;
    border-radius: 6px;
    padding: 16px;
    line-height: 1.45;
}
pre img {
    margin: 12px 0px;
}
pre iframe {
    margin: 12px 0px;
}
pre code {
    padding: 0;
    background-color: initial;
}

footer {
    padding-top: 10px;
    border-top: solid 1px #666;
    color: #333333;
    text-align: center;
    font-size: small;
    font-family: "Noto Sans Mono", "Courier New", "Courier", monospace;
}
#all_posts {
    margin-top: var(--gap-small);
    text-align: center;
}
#twitter {
    line-height: 20px;
    vertical-align: top;
    text-align: right;
    font-style: italic;
    color: #333;
    margin-top: var(--gap-small);
    font-size: 14px;
}

/* Download button */

a.download_button {
    display: inline-block;
    font-size: 25px;
    line-height: 49px;
    min-width: 220px;
    padding: 0 5px;
    border: 1px solid #0366d6;
    border-radius: 2px;
    transition: all 0.3s;
}
a.download_button:hover,
a.download_button:focus {
    background-color: #0366d60d;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(83, 100, 255, 0.45);
}

/* Cut line */

article > hr:first-of-type {
    border: 0;
    border-top: 2px solid lightgrey;
}

/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article table {
    display: block;
    max-width: 100%;
    overflow: auto;
    width: max-content;
}

article table td,
article table th {
    border: 1px solid #e0e3e6;
    padding: 6px 13px;
}
article table td:first-child {
    white-space: nowrap;
}
article table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

/* Highlight targets */

:target::after {
    position: relative;
    top: 3px;
    content: "";
    display: block;
    width: 33%;
    max-width: 120px;
    border-bottom: 2px solid cornflowerblue;
    margin: -2px 0 0;
}

:target:before {
    content: "";
    display: block;
    height: var(--target_shift);
    margin: calc(-1 * var(--target_shift)) 0 0;
}

/* Contents sidebar */

#sidebar {
    width: 300px;
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;
    z-index: 150;
    background-color: var(--sidebar-background);
    color: gray;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    transition: left 0.2s;
}
#sidebar[open] {
    left: 0px;
}
#sidebar > ul,
#sidebar > ol {
    clear: both;
    padding: 8px 8px 16px 0;
}
#sidebar ul,
#sidebar ol {
    padding-left: 1em;
}
#sidebar li + li {
    padding-top: 0.25em;
}
#sidebar li > a {
    padding: 4px 0;
}
#sidebar a,
#sidebar a:visited {
    display: block;
    color: #ccc;
    text-decoration: none;
}
#sidebar a:hover,
#sidebar a:active {
    color: #f1f1f1;
}
@media screen and (min-width: 600px) {
    #sidebar {
        width: 400px;
        left: -400px;
    }
    #sidebar li > a {
        padding: 0;
    }
}

/* Contents sidebar: Top links */

#sidebar .sidebar_header {
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    top: 0;
    background-color: var(--sidebar-background);
}

#sidebar .sidebar_header > a,
#sidebar .sidebar_header > a:visited {
    min-width: var(--header-height);
    line-height: var(--header-height);
    height: var(--header-height);
    text-align: center;
}

#sidebar .sidebar_header > a:hover,
#sidebar .sidebar_header > a:active {
    background-color: #3f3f3f;
}

#sidebar .sidebar_header > .to_toc {
    font-size: 18px;
    flex: 2 1 auto;
}

#sidebar .sidebar_header > .jump_top_button {
    display: flex;
}

#sidebar .sidebar_header > .jump_top_button > svg {
    margin: auto;
    width: 18px;
    height: 18px;
    fill: #ccc;
    transform: rotate(180deg);
}

#sidebar .sidebar_header > .jump_top_button:hover svg,
#sidebar .sidebar_header > .jump_top_button:active svg {
    fill: #f1f1f1;
}

#sidebar .sidebar_header > .close_button {
    font-size: 36px;
}
