{% extends "base.html" %}

{% block body %}
<div class="top">
    <header>
        <a class="logo" href="{{ ctx.blog_index_path | as_rel }}">
            <img src="{{ cfg.site.favicon_path | as_rel }}" alt="favicon">
            <span>{{ cfg.blog.global_short_title }}</span>
        </a>
        <a class="donate" href="{{ 'donating-to-tatsumoto.html' | in_blog | as_rel }}">Donate</a>
    </header>
    <div class="presentation">
        <nav>
            <a href="{{ 'our-immersion-learning-toolset.html' | in_blog | as_rel }}">{{ tr("Tools") }}</a>
            <a href="{{ 'setting-up-anki.html' | in_blog | as_rel }}">{{ tr("Anki") }}</a>
            <a href="{{ 'resources.html' | in_blog | as_rel }}">{{ tr("Resources") }}</a>
            <a href="{{ 'tag_faq.html' | in_blog | as_rel }}">{{ tr("FAQ") }}</a>
        </nav>
        <h1>{{ tr("All Japanese All The Time") }}</h1>
        {{ "hero_description" | tr | jr | md }}
        <div class="start_buttons">
            <a href="{{ 'table-of-contents.html' | in_blog | as_rel }}">{{ tr("Get started") }}</a>
            <a href="{{ 'join-our-community.html' | in_blog | as_rel }}">{{ tr("Community") }}</a>
        </div>
    </div>
</div>

<div class="key_points row">
    <h2><span class="icon beer"></span>{{ tr("Free forever") }}</h2>
    <div class="point_description">{{ "free_forever_text" | tr | jr | md }}</div>
    <h2><span class="icon audiobook"></span>{{ tr("Mass immersion") }}</h2>
    <div class="point_description">{{ "mass_immersion_text" | tr | jr | md }}</div>
    <h2><span class="icon anki"></span>{{ tr("Anki decks provided") }}</h2>
    <div class="point_description">{{ "anki_decks_text" | tr | jr | md }}</div>
    <h2><span class="icon chat"></span>{{ tr("Vibrant community") }}</h2>
    <div class="point_description">{{ "vibrant_community_text" | tr | jr | md }}</div>
</div>

<section class="tile recent-articles">
    <div class="row txt-img-pair mirror-columns polka-dot-bg">
        <div class="text">
            <h2>{{ tr("Recent articles") }}</h2>
            <!-- Recent posts begin -->
            <ol class="bb-recent-posts">
                {% for post in ctx.recent_posts %}
                <li><span class="bb-timestamp">{{ post.metadata.date | date_allposts_post }}</span><a href="{{ post.html_file_path | as_rel }}">{{ post.metadata.title }}</a></li>
                {% endfor %}
            </ol>
            <!-- Recent posts end -->
        </div>
        <div class="image drop-shadow circle-shadow">
            <img src="img/oomuro.webp" alt="book">
        </div>
    </div>
</section>

<section class="tile guide skewed-bg">
    <div class="row txt-img-pair">
        <div class="text">
            <h2>{{ tr("Japanese guide") }}</h2>
            {{ "japanese_guide_text" | tr | jr | md }}
        </div>
        <div class="image drop-shadow light-effect">
            <img src="img/funami.webp" alt="book">
        </div>
    </div>
</section>

<section class="tile anki">
    <div class="row">
        <div class="txt-img-pair mirror-columns">
            <div class="text">
                <h2>Ajatt-Tools</h2>
                {{ "ajatt_tools_text" | tr | jr | md }}
            </div>
            <div class="image">
                <img src="https://raw.githubusercontent.com/Ajatt-Tools/PitchAccent/main/img/pitch_accent_demo.webp" alt="anki addon">
            </div>
        </div>
    </div>
</section>

<footer>
    <b>{{ tr("Site updates:") }}</b>
    <a target="_blank" href="https://freesoftwareextremist.com/tatsumoto?tab=statuses">
        <img src="https://freesoftwareextremist.com/favicon.png" alt="Pleroma"> Pleroma
    </a>
    <a target="_blank" href="https://t.me/s/ajatt_tools">
        <img src="https://telegram.org/img/t_logo.svg" alt="Telegram"> Telegram
    </a>
</footer>
{% endblock %}
